#start {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  margin: 20px 10px;
}

#start:hover {
  background-color: darkgreen;
}

#pause {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  margin: 20px 10px;
}

#pause:hover {
  background-color: darkred;
}

* {
  font-smooth: never;
  -webkit-font-smoothing: none;
}